body {
    width: 80%;
    height: 100vh;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #03071E;
    background-image: linear-gradient(#FAA307, #DC2F02);
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: #FFBA08;
    border: solid #5C0029;
    padding: 5px;
    margin:5px;
    border-radius:10px;
}

    button:hover {
        background-color: #370617;
        color:white;
    }

#table, #addBtn {
    margin-right: auto;
    margin-left: auto;
}

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}
.formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #5C0029;
    z-index: 9;
    border-radius: 10px;
}

#edit{
    display:none;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #F48C06
}

input, textarea {
    background-color: #FFBA08;
    margin-top:5px;
}

#addBtn {
    font-size: xx-large;
    background-color: #FFBA08;
    width: 30%;
    text-align: center;
    border: solid #5C0029;
    border-radius: 10px;
}

    #addBtn:hover {
        background-color: #370617;
        color: white;
    }

table {
    background-color: #F48C06;
    border: solid #5C0029;
    margin: 10px;
    border-radius: 10px;
}

@media only screen and (max-width:990px) {
    body {
        width: 90%;
        padding: 20px;
    }

    #addBtn{
        width:50%;
    }
}